<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:replace="fragments/head :: head"></th:block> /*/-->

    <title>Formulario Libro</title>
</head>
<body>
<!--/*/ <th:block th:replace="fragments/menu :: menu"></th:block> /*/-->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="content-panel">
                <h3><i class="glyphicon glyphicon-th-list"></i> Detalles del libro</h3>
                <hr/>
            </div>
            <div class="content-panel mt">
                <form class="form-horizontal mb" th:action="@{/books/save}" th:object="${book}" method="POST">

                    <th:block th:if="${#fields.hasErrors('${book.*}')}">
                        <div class="alert alert-dismissable mt" th:classappend="'alert-danger'">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span th:text="${'El formulario contiene errores. Intente nuevamente.'}">Test</span>
                        </div>
                    </th:block>

                    <th:block th:if="${message != null}">
                        <div class="alert alert-warning alert-dismissible mt" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p th:text="${message}"></p>
                        </div>
                    </th:block>

                    <input type="hidden" th:field="*{idbooks}"/>

                    <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                        <label for="name" class="col-xs-3 control-label">Nombre del Libro:</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="name" th:field="*{name}" required="true"/>
                            <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect</span>
                        </div>
                    </div>

                    <div class="form-group" th:classappend="${#fields.hasErrors('author')}? 'has-error'">
                        <label class="control-label col-xs-3" for="author">Nombre del Autor:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" id="author" th:field="*{author}" required="true"/>
                            <span class="help-block" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Incorrect</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('isbn')}? 'has-error'">
                        <label class="control-label col-xs-3" for="isbn">Número de ISBN:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" id="isbn" th:field="*{isbn}" required="true"/>
                            <span class="help-block" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Incorrect</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('year')}? 'has-error'">
                        <label class="control-label col-xs-3" for="year">Año de publicación:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="number" id="year" th:field="*{year}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Incorrect</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('edition')}? 'has-error'">
                        <label class="control-label col-xs-3" for="edition">Número de edición:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" id="edition" th:field="*{edition}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('edition')}" th:errors="*{edition}">Incorrect</span>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('editorial')}? 'has-error'">
                        <label class="control-label col-xs-3" for="editorial">Editorial:</label>
                        <div class="col-xs-8">
                            <input class="form-control" type="text" id="editorial" th:field="*{editorial}"/>
                            <span class="help-block" th:if="${#fields.hasErrors('editorial')}" th:errors="*{editorial}">Incorrect</span>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-right: 95px">
                        <button type="reset" class="btn btn-default mr">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div> <!-- /.row -->
</div> <!-- /.container -->

<!--/*/ <th:block th:replace="fragments/foot :: foot"></th:block> /*/-->
</body>
</html>