<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:replace="fragments/head :: head"></th:block> /*/-->

    <title>Inicio</title>
</head>
<body>
<!--/*/ <th:block th:replace="fragments/menu :: menu"></th:block> /*/-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="jumbotron">
                <h1>Workshop Scrum or die - Globant</h1>
                <p class="lead">Administración de la biblioteca de la UTN</p>
            </div>
        </div>
    </div> <!-- /.row -->
</div> <!-- /.container -->

<!--/*/ <th:block th:replace="fragments/foot :: foot"></th:block> /*/-->
</body>
</html>